.row{
    margin-left: calc(var(--bs-gutter-x) * .5 );
    margin-right: calc(var(--bs-gutter-x) * .5 );
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--font-family-poppins);
}

body h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-big);
}
h2{
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-big);
}
h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    margin-bottom: 3rem;
}
h4{
    font-size: var(--font-size-ul-btn);
    font-weight: var(--font-weight-bigB);
    margin-bottom: 1.5rem;
}
p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-small);
}
img{
    max-width: 100%;
    height: auto;
}
.paddingX{
    padding: 0  2rem;
}
.box__shadow-primary{
    box-shadow: 5px 5px 15px var(--color-shadown);
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}