// typograph
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$break:(
    xm:500px,
    sm:576px,
    md:768px,
    lg:992px,
    xl:1200px
);
:root{
    --font-family-poppins:'Poppins', sans-serif;
}
:root{
    --font-size-h1:2.6rem;
    --font-size-title:2.6rem;
    --font-size-h3:2.2rem;
    --font-size-ul-btn:1.6rem;
    --font-size-p:1.5rem;
    @include rwd(md){
        --font-size-ul-btn:1.9rem;
        --font-size-p:1.7rem;
    }
}
:root{
    --font-weight-small:400;
    --font-weight-medium:500;
    --font-weight-big:600;
    --font-weight-bigB:700;
}

:root{
    --color-primary:#3fd8af;
    --color-secundary:#283255;
    --color-secundary-weak:#EFFCF8;
    --color-black:rgba(10, 10, 10, 0.671);
    --color-shadown:rgba(0, 0, 0, 0.445);
}
:root{
    --barr-height:8.1rem;
    --nav-height:auto;
}
:root{
    --z-down:-1;
    --z-normal:1;
    --z-up1:10;
}