.banner__box{
    display: flex;
    align-items: center;
}
.w-175{
    width: 175px;
}
.banner__imgBlock{
    position: relative;
    display: flex;
    margin: 2rem 0;
}
.banner__imgPc{
    width: 100%;
    height: 262px;
    border-radius: 1.5rem;
    overflow: hidden;
    background-position: center;
    height: auto;
}
@include rwd(md){
    .banner__imgCell{
        position: absolute;
        width: 20rem;
    }
}