.slider{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color:var(--color-secundary) ;
    // overflow: hidden;
    @include rwd(md){
        height: 13.2rem;
    }
}
.slider__block{
    display: flex;
    align-items: center;
    // justify-content: baseline;
    width: 100%;
    overflow: hidden;
    &::before {
        top: 0;
        left: 0;
      }
    &::after{
        top: 0;
        right: 0;
        transform: rotateZ(180deg);
      }
}
.container-slider{
    display: flex;
    height: 3rem;
    animation: scroll 35s infinite linear;
    @include rwd(md){
        height: 6rem;
    }
}
@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.slider__section{
    margin: 0 1rem;
    @include rwd(md){
        margin: 0 3rem;
    }
}
.slider__img{
    display: block;
    max-width: 12rem;
    max-height: 3rem;
    @include rwd(md){
        min-width: 120px;
        min-height: 6rem;
    }
}