.nav__box{
    position: absolute;
    top: var(--barr-height);
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    font-size: var(--font-size-ul-btn);
    font-weight: var(--font-weight-bigB);
    @include rwd(lg){
        position:static;
        height: auto;
        background-color: transparent;
    }
}
.nav__box-show{
    overflow: visible;
}
.nav-box-ul{
    height: var(--nav-height);
    background-color: var(--color-primary);
    @include rwd(lg){
        background-color: transparent;
    }
}
.container-sm-oll{
    @include rwd(xm){
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-left: auto;
        margin-right: auto;
        
    }
}
.nav__first{
    @include rwd(lg){
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}
ul a{
    display: block;
    padding: 1rem 2rem;
    color: var(--color-secundary);
    &:hover{
        background-color: var(--color-black);
        color: var(--color-primary);
    }
    &:active{
        color: var(--color-secundary-weak);
    }
    @include rwd(lg){
        padding: .5rem 1rem;
        color: var(--color-primary);
        // display: inline-block;
    }
}
.nav__btn{
    display: inline-block;
    border: .5rem solid var(--color-black);
    margin-left: 2rem;
    &:hover{
        background-color: var(--color-black);
    }
}
.nav__box-btn{
    height: calc(100vh - var(--barr-height));
    background-color: transparent
}