.box__linkSubMenu{
    @include rwd(md){
        display: flex;
    }
}
.box__subMenu{
    height: 0;
    overflow: hidden;  
    box-shadow: 5px 5px 10px var(--color-shadown);  
    @include rwd(md){
        position: absolute;
        top: var(--barr-height);
        // height: auto;
        left: 0;
        right: 0;
        background-color: rgb(221, 225, 230);
    }
}
.box__subMenu-0, .box__subMenu-1{
    padding: 1rem 2rem;
    height: auto;
    overflow: visible;
}
.box__subMenu img{
    max-width: 4.6rem;
    max-height: 4.6rem;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: var(--color-primary);
}
.box__subMenu a{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-small);
    padding-left: 0;
}