@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --font-family-poppins:'Poppins', sans-serif; }

:root {
  --font-size-title:2.6rem;
  --font-size-p:1.4rem; }

:root {
  --font-weight-small:400;
  --font-weight-medium:500;
  --font-weight-big:600;
  --font-weight-bigB:700; }

:root {
  --color-primary:#3fd8af;
  --color-secundary:#283255; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family-poppins); }

body h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-big); }

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-small); }

img {
  max-width: 100%;
  height: auto; }

.paddingX {
  padding: 0  2rem; }

.btn {
  padding: 1.5rem 1rem;
  border-radius: 5px;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-bigB);
  background-color: var(--color-primary); }

.btn__go {
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 992px) {
    .btn__go {
      display: inline-block;
      padding: 1.5rem 3.5rem; } }

.w-175 {
  width: 175px; }

.banner__imgBlock {
  position: relative;
  display: flex;
  margin: 2rem 0; }

.banner__imgPc {
  width: 100%;
  height: 262px;
  border-radius: 1.5rem;
  overflow: hidden;
  background-position: center;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445); }

@media screen and (min-width: 768px) {
  .banner__imgCell {
    position: absolute;
    width: 20rem; } }

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--color-secundary); }
  @media screen and (min-width: 768px) {
    .slider {
      height: 13.2rem; } }

.slider__block {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden; }
  .slider__block::before {
    top: 0;
    left: 0; }
  .slider__block::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg); }

.container-slider {
  display: flex;
  height: 3rem;
  animation: scroll 35s infinite linear; }
  @media screen and (min-width: 768px) {
    .container-slider {
      height: 6rem; } }

@keyframes scroll {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }

.slider__section {
  margin: 0 1rem; }
  @media screen and (min-width: 768px) {
    .slider__section {
      margin: 0 3rem; } }

.slider__img {
  display: block;
  max-width: 12rem;
  max-height: 3rem; }
  @media screen and (min-width: 768px) {
    .slider__img {
      min-width: 120px;
      min-height: 6rem; } }
