@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --font-family-poppins:'Poppins', sans-serif; }

:root {
  --font-size-h1:2.6rem;
  --font-size-title:2.6rem;
  --font-size-h3:2.2rem;
  --font-size-ul-btn:1.6rem;
  --font-size-p:1.5rem; }
  @media screen and (min-width: 768px) {
    :root {
      --font-size-ul-btn:1.8rem; } }

:root {
  --font-weight-small:400;
  --font-weight-medium:500;
  --font-weight-big:600;
  --font-weight-bigB:700; }

:root {
  --color-primary:#3fd8af;
  --color-secundary:#283255;
  --color-secundary-weak:#EFFCF8;
  --color-shadown:rgba(0, 0, 0, 0.445); }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family-poppins); }

body h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-big); }

h2 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-big); }

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  margin-bottom: 3rem; }

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-small); }

img {
  max-width: 100%;
  height: auto; }

.paddingX {
  padding: 0  2rem; }

.box__shadow-primary {
  box-shadow: 5px 5px 5px var(--color-shadown); }

a {
  text-decoration: none; }

.btn {
  padding: 1.5rem 1rem;
  border-radius: 5px;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-bigB);
  background-color: var(--color-primary); }

.btn__go {
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 992px) {
    .btn__go {
      display: inline-block;
      padding: 1.5rem 3.5rem; } }

.banner__box {
  display: flex;
  align-items: center; }

.w-175 {
  width: 175px; }

.banner__imgBlock {
  position: relative;
  display: flex;
  margin: 2rem 0; }

.banner__imgPc {
  width: 100%;
  height: 262px;
  border-radius: 1.5rem;
  overflow: hidden;
  background-position: center;
  height: auto; }

@media screen and (min-width: 768px) {
  .banner__imgCell {
    position: absolute;
    width: 20rem; } }

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--color-secundary); }
  @media screen and (min-width: 768px) {
    .slider {
      height: 13.2rem; } }

.slider__block {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden; }
  .slider__block::before {
    top: 0;
    left: 0; }
  .slider__block::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg); }

.container-slider {
  display: flex;
  height: 3rem;
  animation: scroll 35s infinite linear; }
  @media screen and (min-width: 768px) {
    .container-slider {
      height: 6rem; } }

@keyframes scroll {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }

.slider__section {
  margin: 0 1rem; }
  @media screen and (min-width: 768px) {
    .slider__section {
      margin: 0 3rem; } }

.slider__img {
  display: block;
  max-width: 12rem;
  max-height: 3rem; }
  @media screen and (min-width: 768px) {
    .slider__img {
      min-width: 120px;
      min-height: 6rem; } }

.box__ulTabs {
  display: flex;
  padding: 0;
  overflow: hidden;
  overflow-x: scroll; }

.box__ulTabs a {
  font-size: var(--font-size-ul-btn);
  font-weight: var(--font-weight-medium);
  text-align: center;
  padding: .5rem 2rem;
  border-radius: 1rem;
  color: var(--color-secundary);
  background-color: var(--color-secundary-weak); }
  .box__ulTabs a :hover {
    color: var(--color-primary); }

.img-block {
  position: relative;
  max-width: 380px;
  margin: 0 auto; }
  @media screen and (min-width: 992px) {
    .img-block {
      width: 380px;
      margin: 1rem auto;
      height: 520px; } }

.img__img {
  border: .1rem solid transparent;
  border-radius: 2rem;
  box-shadow: 5px 5px 15px var(--color-shadown); }
  @media screen and (min-width: 1200px) {
    .img__img {
      position: absolute;
      height: 520px;
      top: -5rem; } }

.footer {
  padding-top: 3rem;
  background-color: var(--color-secundary); }

.footer h4 {
  padding: 1.5rem 0;
  font-size: var(--font-size-h3);
  color: var(--color-primary); }

.footer a, .footer p {
  display: block;
  color: white;
  font-size: var(--font-size-p);
  padding: .8rem 0;
  margin-bottom: .5rem; }
